CONFIG_APP_JTAG=y
# CONFIG_ENABLE_CACHE is not set
CONFIG_DDR_TEST=y
CONFIG_IPC_TEST=y
CONFIG_DMAC_LLP_FUNC=y
CONFIG_I2C_TEST=y
CONFIG_I2C_BST_CORE=y
CONFIG_PRINT_UART_BAUD=115200
CONFIG_PWM_TEST=y
CONFIG_NOC_TEST=y
# CONFIG_STACKPROTECTOR is not set
CONFIG_CMD_I2C=y
CONFIG_CMD_DMAC=y
CONFIG_ERRNO_STR=y
CONFIG_FRAME_WARN=8192
